body{
    background-color: #121212;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://cdn.britannica.com/38/111338-050-D23BE7C8/Stars-NGC-290-Hubble-Space-Telescope.jpg);
}

h2 {
    color: crimson;
    background-color: black;
    text-align: center;
    text-decoration: none;
}

h3 {
    color: white;
    background-color: teal;
    text-align: center;
}

a {
    text-decoration: none;
    color: crimson;
    font-family: sans-serif;
}

/* p{
    text-align: justify;
    color: tomato;
    background-color: indigo;
} */


