* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}


.main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(65, 105, 225, 1);
    box-shadow: 0 -2px 6px 2px black;
    position: sticky;
    margin-bottom: 1rem;
    top: 0;
    z-index: 10;

    .main-nav {

        ul.nav-list {
            display: flex;
            list-style: none;
            gap: 12px;
            padding: 0 12px;
            height: 100%;
            /* list-style: "🤖"; */

            .nav-item {
                height: 100%;
                
                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 12px;
                    font-size: 14px;
                    color: white;
                    text-decoration: none;
                    transition: background-color .25s ease-in-out;

                    &:hover {
                        color: royalblue;
                        background-color: #222;
                    }
                }

            }

        }

    }

    .user-info {
        display: flex;
        /* flex-direction: row-reverse; */
        align-items: center;
        padding: 0 1rem;
        gap: 8px;

        .user-avatar {
            width: 42px;
            height: 42px;
        }

        .cart-icon {
            color: white;
            font-size: 20px;
            order: -1;
        }
    }
}

