h1 {
    background-color: blue;
    display: inline;
}

p{
    background-color: lightblue;
}

span{
    display: block;
}

a{
    display: inline-block;
    padding: 16px;
    background-color: rgba(144, 238, 144, 0.531);
    margin: 20px;
    height: 200px;
}

    /* hidden{
        background-color: ;
    } */